@import "styles/unit.scss";

.root {
  margin-top: rem(80);
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 11;
    -webkit-box-orient: vertical;
    overflow: hidden;
    h2 {
      font-weight: 600;
      font-size: rem(32);
      line-height: rem(39);
      margin-bottom: rem(32);
    }
    p {
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(22);
      color: #3c464e;
      opacity: 0.9;
    }
  }
  .openContent {
    display: block !important;
    overflow: auto;
  }
}
