.main {
  padding: rem(24) 0 rem(85);
  .title {
    margin-top: rem(24);
    font-size: rem(34);
    line-height: rem(40);
    font-weight: 600;
    color: #0d0d0d;
  }
  .row {
    display: grid;
    grid-template-columns: rem(312) calc(100% - rem(336));
    column-gap: rem(24);
    .body {
      padding-top: rem(40);
    }
  }
}
// calc 1320 - 984
