@import "styles/unit.scss";

.main {
  padding: rem(24) 0 rem(85);
  .title {
    margin-top: rem(24);
    font-size: rem(34);
    line-height: rem(40);
    font-weight: 600;
    color: #0d0d0d;
  }
  .row {
    display: grid;
    grid-template-columns: rem(348) calc(100% - rem(372));
    column-gap: rem(24);
    .body {
      padding-top: rem(40);
    }
  }
}
