.imgUpload {
  margin-top: rem(24);
  .title {
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(24);
    color: #000000;
  }
  .box {
    margin-top: rem(18);
    cursor: pointer;
    border: 1px solid #ededed;
    border-radius: 8px;
    height: rem(198);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .center {
      display: flex;
      gap: rem(20);
    }
    p {
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(24s);
      letter-spacing: -0.006em;
      color: #808284;
      .link {
        color: #2249b6;
      }
    }
  }
}
