@import "styles/unit.scss";

.Input {
  height: rem(48);
  max-width: rem(560);
  width: 100%;
  border: 2px solid #ff9910;
  border-radius: rem(8);
  display: flex;
  margin-left: rem(12);
  .input {
    padding: rem(12) rem(20);
    border-radius: rem(8);
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(22);
      color: #6e7c87;
    }
  }
  .searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    min-width: rem(64);
    cursor: pointer;
  }
}

.HeaderLinks {
  height: 100%;
  display: flex;
  column-gap: rem(15);
  .link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: rem(9);
    p {
      font-size: rem(12);
      line-height: rem(16);
    }
  }
}
