.root {
  overflow: hidden;
  background: var(--white-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: rem(336);
  border-radius: rem(12);
  .left {
    padding: rem(58) rem(0) rem(50) rem(32);
    display: flex;
    flex-direction: column;
    h1 {
      font-weight: 700;
      font-size: rem(40);
      line-height: rem(48);
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .description {
      margin-top: rem(16);
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(26);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .right {
    position: relative;
    .img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
