.main {
  padding: rem(32) 0 rem(170);
  .container {
    display: grid;
    grid-template-columns: auto rem(376);
    gap: rem(24);
    .leftSide {
      .title {
        margin-top: rem(24);
        font-size: rem(34);
        line-height: rem(40);
        font-weight: 600;
        color: #0d0d0d;
        max-width: rem(1000);
      }
      .body {
        border-radius: rem(16);
        background-color: #fff;
        .bannerImg {
          margin-top: rem(35);
          width: 100%;
          height: rem(500);
          position: relative;
        }
        .description {
          padding: rem(32);
          position: relative;
          p {
            font-weight: 400;
            font-size: rem(19);
            line-height: rem(32);
          }
        }
      }
    }
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  .item {
    height: rem(129);
    border-radius: rem(8);
    background-color: #fff;
    padding: rem(8);
    display: grid;
    grid-template-columns: rem(56) auto;
    gap: rem(12);
    img {
      width: 100%;
      height: rem(56);
      object-fit: cover;
    }
    .content {
      display: flex;
      flex-direction: column;
      .title {
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(19);
        color: #00040a;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .description {
        margin-top: rem(8);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        p {
          font-weight: 400;
          font-size: rem(14);
          line-height: rem(17);
          color: #66686c;
        }
      }
      .date {
        font-weight: 400;
        font-size: rem(14);
        line-height: rem(17);
        color: #66686c;
        margin-top: auto;
      }
    }
  }
}
