@import "styles/unit.scss";

.topHeader {
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  padding: rem(12) 0;
  .navMenu {
    display: flex;
    column-gap: rem(26);
    .navLink {
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(16);
    }
  }
  .right {
    display: flex;
    column-gap: rem(16);
    .language,
    .location {
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: rem(8);
      img {
        width: rem(16);
      }
    }
  }
}
