.form {
  padding: rem(24);
  display: flex;
  flex-direction: column;
  gap: rem(16);

  .attachBtns {
    display: flex;
    column-gap: rem(10);
    .attachBtn {
      cursor: pointer;
      margin-top: rem(16);
      background: #f6f8f9;
      border-radius: rem(11);
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(10);
      width: rem(156);
      height: rem(42);
      svg {
        width: rem(22);
      }
      p {
        font-weight: 500;
        font-size: rem(15);
        line-height: rem(18);
      }
    }
  }
  .btn {
    margin-top: rem(8);
    padding: rem(14) rem(40);
    align-self: flex-end;
  }
}
