.form {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(24);

  .attachBtns {
    display: flex;
    column-gap: rem(10);
    .attachBtn {
      cursor: pointer;
      margin-top: rem(16);
      background: #f6f8f9;
      border-radius: rem(11);
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: rem(10);
      width: rem(156);
      height: rem(42);
      svg {
        width: rem(22);
      }
      p {
        font-weight: 500;
        font-size: rem(15);
        line-height: rem(18);
      }
    }
  }

  .title {
    font-weight: 500;
    font-size: rem(20);
    line-height: rem(32);
    color: #000000;
    padding: rem(10) 0;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
  .btn {
    margin-top: rem(8);
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
