.root {
  width: calc(100%);
  margin-top: rem(56);
  .title {
    font-weight: 600;
    font-size: rem(40);
    line-height: rem(50);
    margin-bottom: rem(24);
  }
  .slider {
    margin-left: rem(-12);
  }
  .next {
    right: rem(-16) !important;
  }
  .prev {
    left: rem(-16) !important;
  }
  .slideItem {
    padding: 0 rem(12);
  }
}
