.card {
  border-radius: rem(12);
  padding: rem(15) rem(12) rem(12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--white-color);
  height: rem(200);
  .img {
    position: relative;
    height: 100%;
    max-width: rem(140);
    width: 100%;
  }
  .title {
    margin-top: rem(12);
    text-align: center;
    font-weight: 500;
    font-size: rem(15);
    line-height: rem(26);
  }
}
