.root {
  margin-top: rem(48);
  h1 {
    font-weight: 600;
    font-size: rem(32);
    line-height: rem(32);
    color: #00040a;
  }
  .items {
    margin-top: rem(24);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(370), auto));
    grid-auto-rows: rem(280);
    column-gap: rem(12);
    row-gap: rem(24);
    .item {
      border: 1px solid rgba(16, 43, 81, 0.08);
      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.08));
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: rem(16);
      .iconBox {
        width: rem(72);
        height: rem(72);
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 153, 16, 0.05);
        border-radius: rem(10);
      }
      .title {
        margin-top: rem(16);
        font-weight: 500;
        font-size: rem(20);
        line-height: rem(24);
        color: #00040a;
      }
      .desc {
        margin-top: rem(8);
        font-size: rem(16);
        line-height: rem(24);
        color: #66686c;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .link {
        margin-top: auto;
        font-weight: 500;
        font-size: rem(16);
        line-height: rem(18);
        color: var(--primary-color);
      }
    }
  }
}
