@import "styles/unit.scss";

.timer {
  .block {
    .item {
      padding: rem(4) rem(2);
      background: #f6f6f6;
      border: 1px solid #e5e9eb;
      font-weight: 500;
      font-size: rem(25);
      line-height: rem(24);
      color: #252c32;
    }
  }
}
