@import "styles/unit.scss";

.progress {
  width: 100%;
  position: relative;
  border-radius: 4px;
  height: rem(6);
  background-color: #d9d9d9;
  .progressLine {
    width: 0;
    bottom: 0;
    top: 0;
    left: 0;
    height: 6px;
    background: #ff9910;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
  }
}

.sidebar {
  .firstCard {
    border-radius: rem(12);
    padding: rem(32);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      justify-content: space-between;
    }
    .body {
      .list {
        margin-top: rem(35);
        display: grid;
        flex-direction: column;
        gap: rem(10);
        .item {
          display: flex;
          align-items: center;
          column-gap: rem(8);
          .grade {
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(24);
            letter-spacing: -0.32px;
            color: #6e7c87;
          }
          .percent {
            font-size: rem(16);
            line-height: rem(24);
            letter-spacing: -0.32px;
          }
        }
      }
      .reviewBtn {
        margin-top: rem(35);
      }
    }
  }
  .secondCard {
    margin-top: rem(16);
    border-radius: rem(12);
    padding: rem(32);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 500;
      font-size: rem(15);
      line-height: rem(24);
      letter-spacing: -0.32px;
    }
    .about {
      font-weight: 600;
      font-size: rem(19);
      line-height: rem(24);
      letter-spacing: -0.32px;
    }
    .itemProgress {
      margin-top: rem(16);
      display: flex;
      flex-direction: column;

      .titles {
        margin-bottom: rem(8);
        display: flex;
        justify-content: space-between;
        span {
          font-weight: 400;
          font-size: rem(12);
          line-height: rem(24);
          letter-spacing: -0.32px;
          color: #6e7c87;
        }
      }
    }
  }
}
