.dialog {
  height: 100%;
  padding: rem(30) rem(40) rem(60);
  display: grid;
  grid-template-columns: rem(470) 1fr;
  column-gap: rem(34);
  .leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      font-weight: 700;
      font-size: rem(24);
      line-height: rem(24);
    }
    .text {
      margin-top: rem(8);
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(24);
      letter-spacing: -0.32px;
      color: #6e7c87;
    }
    .btns {
      margin-top: rem(16);
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: rem(12);
      .btn {
        border-radius: rem(22);
        justify-content: center;
      }
      .activeBtn {
        background: var(--primary-color);
        color: #fff;
      }
    }
  }
}

.pickUp {
  margin: rem(20) 0;
  padding: 0 rem(3);
  max-height: 400px;
  overflow-y: scroll;

  .regions {
    margin-top: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(12);
    .regionItem {
      cursor: pointer;
      padding: rem(10) rem(16);
      border: 1px solid #e5e9eb;
      border-radius: rem(8);
      .address {
        display: flex;
        column-gap: rem(6);
        align-items: center;
        img {
          width: rem(16);
        }
        p {
          font-weight: 500;
          font-size: rem(16);
          line-height: rem(19);
          letter-spacing: -0.32px;
        }
      }
      .street,
      .time {
        margin-top: rem(4);
        font-size: rem(12);
        line-height: rem(15);
        letter-spacing: -0.32px;
        color: #6e7c87;
      }
      .time {
        margin-top: rem(8);
      }
    }
  }
}

.delivery {
  margin: rem(20) 0;
  padding: 0 rem(3);
  .input {
    margin-top: rem(20);
    input {
      height: rem(48);
    }
  }
}
