@import "unit";
@import "../../public/fonts/font.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

:root {
  --primary-color: #ff9910;
  --secondary-color: #37475a;
  --bg-color: #f6f6f6;
  --text-color: #000000;
  --gray-color: #3c464e;
  --danger-color: #ff0000;
  --white-color: #ffffff;
  --border-radius: 11px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

button,
a {
  border: none;
  cursor: pointer;
}

.crosshairs {
  &::before,
  &::after {
    background: #fff !important;
  }
}

img {
  max-width: 100%;
  height: auto;
  width: 100%; /* if you like to resize the image to the width of the container */
}

header {
  z-index: 999;
  // box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.image-gallery-slide {
  height: calc(100vh - 50px);
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    // max-height: 80%;
    object-fit: contain;
    transition: 0s;
    // opacity: 0;
    image-rendering: pixelated;
  }
  .visible {
    opacity: 1;
    transition: 0.5s;
  }
}

.image-gallery-thumbnail {
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  padding: 4px;
}
.image-gallery-thumbnail.active {
  border: 2px solid #ff9910;
}
.image-gallery-thumbnail:hover {
  border: 2px solid #ff9910;
}
.image-gallery-thumbnail {
  width: 100px;
  height: 100px;
  span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

#productSlider {
  .slick-arrow.slick-disabled,
  .slick-prev.slick-disabled {
    display: none;
  }
}

// this style for progress profile page
.CircularProgressbar-trail {
  stroke-width: 4px;
}
