.card {
  z-index: 1;
  background: var(--white-color);
  padding: rem(16);
  border-radius: rem(12);
  transition: 0.3s all;
  .cardHeader {
    position: relative;
    height: rem(274);
    display: flex;
    justify-content: center;
    align-items: center;
    .badge {
      padding: rem(5) rem(8);
      background: #ff0000;
      color: var(--white-color);
      font-size: rem(14);
      line-height: rem(17);
      font-weight: 500;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: rem(4);
    }
    .icons {
      z-index: 100;
      display: flex;
      column-gap: rem(12);
      position: absolute;
      top: 0;
      right: 0;
    }
    .img {
      width: 100%;
      height: 100%;
      position: relative;
      img:hover {
        transition: 0.3s;
        transform: scale(1.05);
      }
    }
  }
  .cardBody {
    width: 100%;
    position: relative;
    .title {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
      color: #7e7e83;
    }
    .desc {
      margin-top: rem(2);
      font-weight: 500;
      font-size: rem(16);
      line-height: rem(19);
      color: #1a2024;
    }
    .stars {
      margin-top: rem(8);
    }
    .priceMonth {
      margin-top: rem(12);
      display: flex;
      align-items: center;
      column-gap: rem(6);
      .badgePrice {
        border-radius: rem(12);
        background-color: var(--primary-color);
        padding: rem(2) rem(8);
        color: white;
        font-weight: 500;
        font-size: rem(12);
        line-height: rem(15);
        text-align: center;
      }
      .count {
        font-size: rem(12);
        line-height: rem(15);
        color: #7e7e83;
      }
    }
    .linePrice {
      margin-top: rem(10);
      text-decoration-line: line-through;
      font-size: rem(16);
      line-height: rem(19);
      color: #c3c3ca;
    }
    .price {
      margin-top: rem(2);
      font-weight: 600;
      font-size: rem(20);
      line-height: rem(24);
    }
  }
}
