.root {
  h1 {
    font-weight: 600;
    font-size: rem(32);
    line-height: rem(32);
    color: #00040a;
  }

  .wrapper {
    padding: rem(24);
    margin-top: rem(20);
    background: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: rem(8);
  }
}
