.bodyHeader {
  padding: rem(16) 0;
  background: var(--white-color);
  border-bottom: 1px solid #e1e1e1;
  position: sticky;
  top: 0;
  .box {
    width: 100%;
    display: flex;
    align-items: center;
    .categoryBtn {
      height: rem(44);
      margin-left: rem(44);
      font-size: rem(16);
      line-height: rem(20);
      svg {
        width: rem(18);
      }
    }
    .right {
      margin-left: auto;
      display: flex;
      column-gap: rem(31);
      align-items: center;
      .loginBtn {
        height: rem(44);
        font-size: rem(14);
        line-height: rem(24);
        color: #232f3e;
      }
    }
  }
  .categories {
    position: relative;
    width: 100%;
  }
}
