.root {
  margin-top: rem(32);
  background: var(--white-color);
  border-radius: rem(8);
  padding: rem(24);
  .title {
    font-weight: 600;
    font-size: rem(28);
    line-height: rem(34);
    max-width: 70%;
  }
  .about {
    margin-top: rem(16);
    display: flex;
    align-items: center;
    column-gap: rem(24);
    .text {
      display: flex;
      align-items: center;
      column-gap: rem(4);
    }
  }
  .body {
    margin-top: rem(14);
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: rem(8);
  }
}
