@import "styles/unit.scss";

.card {
  border: 1px solid #d5dadd;
  border-radius: 12px;
  background-color: #fff;
  width: rem(264);
  height: rem(355);
  display: flex;
  flex-direction: column;
  padding: rem(16);
  .cardHeader {
    display: flex;
    justify-content: space-between;
    svg path {
      stroke: var(--primary-color);
    }
  }
  .cardBody {
    display: flex;
    flex-direction: column;
    .img {
      align-self: center;
      width: rem(120);
      height: rem(120);
      margin-top: rem(16);
      position: relative;
      overflow: hidden;
      img {
        object-fit: contain;
      }
      .loader {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: #fff;
        }
      }
    }
    .description {
      margin-top: rem(18);
      font-weight: 400;
      font-size: rem(14);
      line-height: rem(22);
      color: #888888;
    }
  }
  .uploadBtn,
  .removeBtn {
    cursor: pointer;
    margin-top: auto;
    padding: rem(24);
    border: 1px dashed #0e73f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    column-gap: rem(12);
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #0e73f6;
    }
  }
  .removeBtn {
    background: #d7edff;
    border: 1px solid transparent;
    p {
      color: #1a2024;
    }
    .delete {
      margin-left: auto;
    }
  }
}
