.textareaBox {
  position: relative;
  width: 100%;
  label {
    display: block;
    margin-bottom: rem(7);
    display: block;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: #5c5c5c;
  }
  .textarea {
    width: 100%;
    padding: rem(12);
    background: #ffffff;
    border: 1px solid #e5e9eb;
    border-radius: rem(8);
    font-size: rem(15);
    line-height: rem(24);
    color: #252c32;
    transition: all 0.25s ease-in-out;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
    &:hover {
      border-color: var(--primary-color);
    }
    &::placeholder {
      font-size: rem(15);
      line-height: rem(24);
      color: #9aa6ac;
    }
  }
}
