.textareaBox {
  position: relative;
  width: 100%;
  .textarea {
    width: 100%;
    padding: rem(12);
    background: #ffffff;
    border: 1px solid #e5e9eb;
    border-radius: rem(10);
    font-size: rem(15);
    line-height: rem(24);
    color: #252c32;
    transition: all 0.25s ease-in-out;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }
    &:hover {
      border-color: var(--primary-color);
    }
    &::placeholder {
      font-size: rem(15);
      line-height: rem(24);
      color: #9aa6ac;
    }
  }
}
