@import "styles/unit.scss";

.root {
  width: 100%;
  .slideItem {
    height: rem(336);
    background: var(--white-color);
    border-radius: rem(15);
    overflow: hidden;
    .img {
      height: 100%;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .box {
      padding: rem(53) rem(46);
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: rem(10);
      .left {
        .title {
          font-weight: 700;
          font-size: rem(48);
          line-height: rem(58);
        }
        .text {
          margin-top: rem(16);
          font-weight: 400;
          font-size: rem(16);
          line-height: rem(26);
        }
        .btn {
          justify-content: center;
          min-width: rem(174);
          margin-top: rem(32);
        }
      }
      .right {
        position: relative;
        .first_img {
          position: absolute;
          left: rem(20);
          bottom: rem(-45);
          width: 150px;
          height: 273px;
        }
        .second_img {
          position: absolute;
          left: 50%;
          bottom: rem(-45);
          transform: translateX(-50%);
          width: 342px;
          height: 308px;
        }
        .third_img {
          position: absolute;
          right: rem(30);
          bottom: rem(-45);
          width: 150px;
          height: 273px;
        }
      }
    }
  }
}
.styleNext {
  height: rem(44) !important;
  width: rem(44) !important;
  right: rem(-20) !important;
}
.stylePrev {
  height: rem(44) !important;
  width: rem(44) !important;
  left: rem(-20) !important;
}

// responsive

@media (max-width: 768px) {
  .root {
    .slideItem {
      height: rem(177);
    }
  }
}
