.radio {
  input {
    display: none;
  }
  width: 100%;
  display: flex;
  align-items: center;
  padding: rem(16);
  justify-content: space-between;
  background-color: #f4f4f4;
  border-radius: rem(8);

  .left {
    display: flex;
    align-items: center;
    column-gap: rem(12);
    .label {
      font-weight: 600;
      font-size: rem(16);
      line-height: rem(24);
    }
  }
  .imgWrapper {
    width: rem(56);
    height: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: rem(8);
    padding: rem(13);
    .img {
      max-height: rem(35);
      max-width: rem(40);
      object-fit: contain;
    }
  }

  .box {
    &.active {
      color: rgb(255, 255, 255);
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      transition: background 0.1s cubic-bezier(0.1, 0.8, 0.2, 1) 0s,
        color 0.1s cubic-bezier(0.1, 0.8, 0.2, 1) 0s,
        box-shadow 0.1s cubic-bezier(0.1, 0.8, 0.2, 1) 0s;
      svg {
        transition: transform 0.25s cubic-bezier(0.4, 1.2, 0.8, 1.4) 0s;
        transform: scale(1);
      }
    }
    width: rem(20);
    height: rem(20);
    flex-shrink: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid #b0babf;
    border-radius: 50%;
    color: transparent;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background 0.2s cubic-bezier(0.6, 0, 1, 0.3) 0s,
      color 0.1s cubic-bezier(0.6, 0, 1, 0.3) 0s,
      box-shadow 0.1s cubic-bezier(0.6, 0, 1, 0.3) 0s;
    background: #f6f8f9;
    svg {
      flex-shrink: 0;
      width: rem(20);
      height: rem(20);
      transform: scale(0);
      transition: transform 0.15s cubic-bezier(0.6, 0, 1, 0.3) 0s;
    }
  }
}
