.root {
  .breadcrumb {
    font-weight: 400;
    font-size: rem(16);
    line-height: rem(24);
    color: #4f4f4f;
    cursor: pointer;
  }
}

.breadcrumb {
  color: var(--primary-color);
  cursor: pointer;
  font-size: rem(18);
  line-height: rem(24);
  font-weight: 400;
  &__last {
    cursor: unset;
    color: #5b6871;
  }
}
