.stepTwo {
  padding: rem(45) rem(32) rem(24);
  max-width: rem(872);
  .form {
    display: flex;
    flex-direction: column;
    .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: rem(32);
      .col {
        display: flex;
        flex-direction: column;
        gap: rem(20);
      }
    }
  }
}
