.root {
  .title {
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(24);
    margin-bottom: rem(24);
  }
  .next {
    right: rem(-16) !important;
  }
  .prev {
    left: rem(0) !important;
  }
  .slideItem {
    padding: 0 rem(12);
  }
  .row,
  .rowid {
    margin-top: rem(24);
    display: grid;
    gap: rem(24);
  }
  .row {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .rowid {
    grid-template-columns: repeat(3, minmax(284px, 1fr));
  }
  .loader {
    margin-top: 50px;
  }
}
