.root {
  .title {
    font-weight: 600;
    font-size: rem(24);
    line-height: rem(24);
    margin-bottom: rem(24);
  }
  .next {
    right: rem(-16) !important;
  }
  .prev {
    left: rem(0) !important;
  }
  .slideItem {
    padding: 0 rem(12);
  }
  .row {
    margin-top: rem(24);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: rem(24);
  }
}
