.main {
    padding: rem(32) 0 rem(170);
    .container {
      // display: grid;
      // grid-template-columns: auto rem(376);
      // gap: rem(24);
  
      .title {
        margin-top: rem(24);
        font-size: rem(34);
        line-height: rem(40);
        font-weight: 600;
        color: #0d0d0d;
        max-width: rem(1000);
        text-align: start;
        margin-bottom: rem(24);
      }
      .body {
        border-radius: rem(16);
        display: flex;
        gap: rem(24);
  
        .leftSide {
          background-color: #fff;
          width: 70%;
  
          .bannerImg {
            // margin-top: rem(35);
            width: 100%;
            height: rem(500);
            position: relative;
          }
  
          .desc__title {
            font-weight: 600;
            font-size: rem(22);
            line-height: rem(32);
            letter-spacing: 0.015em;
            color: #000000;
            padding: rem(32) rem(32) 0;
          }
  
          .description {
            padding: rem(8) rem(32) rem(32);
            position: relative;
            font-weight: 400;
            font-size: rem(16);
            line-height: rem(24);
            color: #000000;
            letter-spacing: 0.015em;
          }
        }
        .rightSide {
          background-color: #fff;
          padding: rem(16);
          height: max-content;
          border-radius: rem(8);
          position: sticky;
          top: rem(150);
  
          .top__title {
            font-weight: 700;
            font-size: rem(22);
            line-height: rem(32);
            letter-spacing: -0.006em;
            color: #000000;
            margin-bottom: rem(16);
          }
  
          .themes {
            display: flex;
            flex-direction: column;
            gap: rem(10);
  
            .theme {
              font-weight: 500;
              font-size: rem(16);
              line-height: rem(24);
              letter-spacing: -0.006em;
              color: #0e73f6;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  