.imgUpload {
  display: grid;
  grid-template-columns: auto rem(320);
  gap: rem(24);
  align-items: center;
  border-bottom: 2px solid #F9F9F9;
  padding: rem(20);


  .left {
    .topText {
      font-weight: 600;
      font-size: 20px;
      line-height: 32px;
      color: #000000;
      display: block;
    }
    .bottomText {
      font-size: rem(16);
      line-height: rem(24);
      color: #808284;
    }
  }

  .img {
    max-width: rem(120);
    height: rem(124);
    margin-top: rem(12);
    position: relative;
    overflow: hidden;
    .loader {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: #fff;
      }
    }
    &:hover {
      .close {
        transform: none;
      }
    }
    .close {
      position: absolute;
      top: rem(4);
      right: rem(4);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      transition: all 0.25s ease-in-out;
      transform: translateY(-40px);
      path {
        fill: #fff;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .right {


    label {
      font-weight: 500;
      font-size: rem(15);
      line-height: rem(24);
      color: #4f4f4f;
    }
    .uploader {
      margin-top: rem(8);
      background: #f0f0f0;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(20);

      .uploadBtn {
        background-color: #13c29a;
        border-radius: rem(8);
        color: #fff;
        margin-bottom: rem(12);
        // margin-left: 20px;
      }
    }
    span {
      display: block;
      margin-top: rem(8);
      font-weight: 400;
      font-size: rem(12);
      line-height: rem(15);
      color: #bdbdbd;
    }
  }
}