@import "styles/unit.scss";

.radio {
  input {
    display: none;
  }

  .box {
    position: relative;
    &.active {
      transition-timing-function: ease-out;
      height: rem(24);
      width: rem(24);
    }
    &.active::after {
      content: "";
      position: absolute;
      left: -3px;
      top: -3px;
      width: rem(28);
      height: rem(28);
      border-radius: 50%;
      border: 1px solid var(--primary-color);
    }
    height: rem(28);
    width: rem(28);
    border-radius: 50%;
    background: var(--primary-color);
    flex-shrink: 0;
    cursor: pointer;
    transition-timing-function: ease-in;
    transition-property: border-color, border-width, box-shadow;
    transition-duration: 0.12s;
    border: none;
    &.green {
      background: #13d54a;
      &::after {
        border: 1px solid #13d54a;
      }
    }
    &.black {
      background: #232f3e;
      &::after {
        border: 1px solid #232f3e;
      }
    }
    &.red {
      background: #ff0000;
      &::after {
        border: 1px solid #ff0000;
      }
    }
    &.primary {
      background: var(--primary-color);
      &::after {
        border: 1px solid var(--primary-color);
      }
    }
    &.secondary {
      background: #48535b;
      &::after {
        border: 1px solid #48535b;
      }
    }
  }
}
